parameters:
  level: max
  paths:
    - src

  ignoreErrors:
    -
      message: "#^Unsafe usage of new static\\(\\)\\.$#"
      count: 1
      path: src/ParityChecker.php

    -
      message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
      count: 2
      path: src/ParityChecker.php

    -
      message: "#^Parameter \\#1 \\$type of method Benjaminmal\\\\ParityChecker\\\\ParityChecker\\:\\:isTypeOrProperty\\(\\) expects array\\<string\\>\\|string, mixed given\\.$#"
      count: 3
      path: src/ParityChecker.php

    -
      message: "#^Trying to invoke (string\\|true|mixed) (but )?it('s)? (might )?not (be )?a callable\\.$#"
      count: 2
      path: src/ParityChecker.php

    -
      message: "#^Parameter \\#2 \\$haystack of function in_array expects array, mixed given\\.$#"
      count: 1
      path: src/ParityChecker.php

    -
      message: "#^Call to an undefined method ReflectionType\\:\\:getName\\(\\)\\.$#"
      count: 1
      path: src/ParityChecker.php
